@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body, .contain, #root {
  height: 100%;
  width: 100%;
}

.contain {
  display: flex;
  justify-content: center !important;
  align-items: center;
  background-color: #201f1f;
}

.name{
  display: flex;
  color: #ecebe8;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.socialMedia{
  position: absolute;
  margin-top: 260px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.dev{
  position: absolute;
  margin-top: 130px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: #ecebe8;
}

.svg-inline--fa{
  color: #ecebe8;
}

.svg-inline--fa:hover{
  color: cornflowerblue;
}

.guionBajo{
  animation: titilar 1s linear infinite;
}
@keyframes titilar{
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (min-width: 360px) and (max-width: 848px){
  .name{
    font-size: 2rem;
  }
  .dev{
    text-align: center;
    font-size: 20px;
  }
}
